<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSHumanReadableCopyright</key>
	<string></string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMessage</key>
			<string>fixGrammar</string>
			<key>NSPortName</key>
			<string>VibeRite</string>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>VibeRite/Fix Grammar</string>
			</dict>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSTextContent</key>
				<string>text</string>
			</dict>
			<key>NSReturnTypes</key>
			<array>
				<string>public.utf8-plain-text</string>
				<string>NSStringPboardType</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>public.utf8-plain-text</string>
				<string>NSStringPboardType</string>
			</array>
			<key>NSUserData</key>
			<string>fixGrammar</string>
		</dict>
		<dict>
			<key>NSMessage</key>
			<string>improveWriting</string>
			<key>NSPortName</key>
			<string>VibeRite</string>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>VibeRite/Improve Writing</string>
			</dict>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSTextContent</key>
				<string>text</string>
			</dict>
			<key>NSReturnTypes</key>
			<array>
				<string>public.utf8-plain-text</string>
				<string>NSStringPboardType</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>public.utf8-plain-text</string>
				<string>NSStringPboardType</string>
			</array>
			<key>NSUserData</key>
			<string>improveWriting</string>
		</dict>
		<dict>
			<key>NSMessage</key>
			<string>professionalTone</string>
			<key>NSPortName</key>
			<string>VibeRite</string>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>VibeRite/Professional Tone</string>
			</dict>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSTextContent</key>
				<string>text</string>
			</dict>
			<key>NSReturnTypes</key>
			<array>
				<string>public.utf8-plain-text</string>
				<string>NSStringPboardType</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>public.utf8-plain-text</string>
				<string>NSStringPboardType</string>
			</array>
			<key>NSUserData</key>
			<string>professionalTone</string>
		</dict>
		<dict>
			<key>NSMessage</key>
			<string>friendlyTone</string>
			<key>NSPortName</key>
			<string>VibeRite</string>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>VibeRite/Friendly Tone</string>
			</dict>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSTextContent</key>
				<string>text</string>
			</dict>
			<key>NSReturnTypes</key>
			<array>
				<string>public.utf8-plain-text</string>
				<string>NSStringPboardType</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>public.utf8-plain-text</string>
				<string>NSStringPboardType</string>
			</array>
			<key>NSUserData</key>
			<string>friendlyTone</string>
		</dict>
		<dict>
			<key>NSMessage</key>
			<string>makeShorter</string>
			<key>NSPortName</key>
			<string>VibeRite</string>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>VibeRite/Make Shorter</string>
			</dict>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSTextContent</key>
				<string>text</string>
			</dict>
			<key>NSReturnTypes</key>
			<array>
				<string>public.utf8-plain-text</string>
				<string>NSStringPboardType</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>public.utf8-plain-text</string>
				<string>NSStringPboardType</string>
			</array>
			<key>NSUserData</key>
			<string>makeShorter</string>
		</dict>
		<dict>
			<key>NSMessage</key>
			<string>rewriteClearly</string>
			<key>NSPortName</key>
			<string>VibeRite</string>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>VibeRite/Rewrite Clearly</string>
			</dict>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSTextContent</key>
				<string>text</string>
			</dict>
			<key>NSReturnTypes</key>
			<array>
				<string>public.utf8-plain-text</string>
				<string>NSStringPboardType</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>public.utf8-plain-text</string>
				<string>NSStringPboardType</string>
			</array>
			<key>NSUserData</key>
			<string>rewriteClearly</string>
		</dict>
		<dict>
			<key>NSMessage</key>
			<string>summarize</string>
			<key>NSPortName</key>
			<string>VibeRite</string>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>VibeRite/Summarize</string>
			</dict>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSTextContent</key>
				<string>text</string>
			</dict>
			<key>NSReturnTypes</key>
			<array>
				<string>public.utf8-plain-text</string>
				<string>NSStringPboardType</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>public.utf8-plain-text</string>
				<string>NSStringPboardType</string>
			</array>
			<key>NSUserData</key>
			<string>summarize</string>
		</dict>
	</array>
</dict>
</plist>
